<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
  <!--write logs to Database-->  
   <target name="nlog-database"
           xsi:type="Database"
           connectionString="${configSetting:name=ConnectionStrings.UserDBConnection}"
           commandType="StoredProcedure"
           commandText="[dbo].[Insert_Log]">
    <parameter name="@machineName"    layout="${machinename}" />
    <parameter name="@level"          layout="${level}" />
    <parameter name="@callsite"       layout="${callsite}" />
    <parameter name="@type"           layout="${exception:format=type}" />
    <parameter name="@message"        layout="${exception:format=message}" />
    <parameter name="@stackTrace"     layout="${exception:format=stackTrace}" />
    <parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
    <parameter name="@additionalInfo" layout="${message}" />
   </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="nlog-database" />
  </rules>
</nlog>